.u-section-1 .u-sheet-1 {
  min-height: 96px;
}

.u-section-1 .u-text-1 {
  margin: 42px auto 16px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 67px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin: 24px 21px 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 3178px;
}

.u-section-2 .u-text-1 {
  margin: 21px 0 59px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}